<!--
<div class="bloc-haut">
  <app-block-component class="top-left"></app-block-component>
  <app-block-component class="top-right"></app-block-component>
</div>
<div class="bloc-bas">
  <app-block-component class="bottom-right"></app-block-component>
  <app-block-component class="bottom-left"></app-block-component>
</div>
-->
<ul>
  <li>
    <a [routerLink]="['/Menu']">Menu</a>
  </li>
  <li>
    <a [routerLink]="['/SignUp']">SignUp</a>
  </li>
  <li>
    <a [routerLink]="['/User-Profil']">User-Profil</a>
  </li>
</ul>

<router-outlet></router-outlet>


